/* le tableau de jeu */
table{
  border-collapse: collapse;
}
td{
  width: 150px;
  border: 1px black solid;
}

tr{
  height: 150px;
}

/* le message*/
#message{
  border: 1px black solid;
  border-radius: 5px;
  padding: 1px 10px;
  margin: 5px;
}

/* gestion des états */
.cacher{
  display: none;
}

.cliquable{
  cursor: pointer;
  box-shadow: inset  0 0 1em green;
}

#monSymbole{
  width: 30px;
  height: 30px;
}
